[Desktop Entry]
Name=Split Browser
GenericName=Web Browser
Comment=Disposable browser with persistent yet isolated bookmarks and passwords
Keywords=Firefox;Tor
Categories=Network;WebBrowser;Security
Icon=web-browser
Type=Application
Exec=split-browser %u
Terminal=false
StartupNotify=false
