#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	$(MAKE) -C vm PREFIX=/usr \
	              DESTDIR='$(CURDIR)/debian/qubes-split-browser' \
	              install-persist
	$(MAKE) -C vm PREFIX=/usr \
	              DESTDIR='$(CURDIR)/debian/qubes-split-browser-disp' \
	              install-disp
