pref("browser.startup.homepage", "chrome://browser/content/blanktab.html");
pref("browser.toolbars.bookmarks.visibility", "never");
pref("browser.urlbar.trimURLs", false);
pref("reader.color_scheme", "sepia");
pref("security.insecure_connection_text.enabled", true);
pref("security.insecure_connection_text.pbmode.enabled", true);
pref("view_source.wrap_long_lines", true);
